*{margin: 0; padding: 0;}

.coor .card{
    margin-top: 1rem;
}
.service .row img{
    width: 100%;
}
.botbaner img{
    width: 100%
}
.intro .r{
    background-image: url(pics/gioi-thieu-trang-chu.png);
    background-repeat: no-repeat;
}

footer .fanpage{
    width: 100%;
}

footer .container {
    display: flex;
}

footer {
    display: flex;
    background-color: #222222;
    color: white;
    padding-top: 2rem;
}

.fanpage {
    width: 100%;
    height: 16rem;
    background-color: antiquewhite;
    float: right;
}

footer ul {
    margin-top: 1rem;
}

footer li {
    list-style: none;
    padding-top: 0.3rem;
}

.trademark {
    text-align: center;
    height: 3rem;
    background-color: #000000;
    padding-top: 1rem;
    color: white;
    font-style: italic;
}

.totop {
    width: fit-content;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}


.coor {
    text-align: center;
}

.botbaner {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.building p {
    padding-top: 1rem;
    margin-bottom: 0;
}

.sample .building {
    padding: 1rem;
}

.sample {
    text-align: center;
}

.container h5, .sample h5 {
    color: #aa2024;
    margin-bottom: 0;
}

footer h5 {
    color: white !important;
}

.service h3 {
    margin: auto;
    text-align: center;
}

main .service {
    margin-top: 2.5rem;
    text-align: center;
}

main .intro {
    margin-top: 2.5rem;
    display: flex;
}

.intro button.btn-danger {
    height: 3rem;
    width: 11rem;
    background-color: #aa2024;
    border-radius: 9px;
    margin-top: 2rem;
}

.intro h5 {
    color: #aa2024;
    margin-bottom: 0;
}

.intro p {
    text-align: justify;
    margin-right: 1rem; 
}

.intro .container {
    display: flex;
    margin-top: 2.5rem;
}

.navbar a {
    color: white;
}

.navbar li {
    list-style: none;
    padding: 1%;
    width: fit-content;
}

.navbar ul {display: flex;}

.navbar .container {
    padding: 0;
}

main .navbar {
    padding: 0;
    background: #861619;
    height: 3rem;
    border-radius: 0;
}

.branch {
    float: left;
    margin-left: 8%;
    margin-top: 2%;
    width: 50%;
}

.btnseach {
    background: #861619;
    width: 20%;
    color: white;
    text-align: center;
    padding-top: 1%;
}

input[type="text"] {
    border: none;
    width: 80%;
    padding-left: 3%;
}

.search {
    display: flex;
    border: 2px solid #861619;
    width: 40%;
    height: 30%;
    margin-top: 4%;
    margin-right: 8%;
}

.logo {
    background-image: url(pics/khung-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10rem;
    display: flex;
}

.social i.fa {
    border: 1px dashed #861619;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    text-align: center;
    color: #861619;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.social i.fa:hover {
    background: #861619;
    color: white;
}

.contact i.fa {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background: #861619;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .5rem;
}

.phone,.email{
    display: flex;
}
.contact .email{
    margin-left: 2rem;
}
.contact {
    display: flex;
    
    float: left;
}

.social {
    display: flex;
    float: right;
}

.topheader {
    height: 3rem;
    background: #f1f1f1;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 6px;
} 

.intro .cot-1,.intro .cot-2{
    width: 100%;
/*     height: 1rem; */
}


@media all and (max-width: 1024px) {
    .navbar li{
        padding-top: 0px;
    }
}



@media all and (max-width: 768px) {
    .topheader{
        margin: auto;
    }
   .contact {
      display: none;
   }
    .social{    
        float: none;
        margin: auto;
    }
    .social i{    
        float: none;
        margin: auto;
    }
    .navbar li{
        padding-top: 0px;
    }
    .branch{
        margin: unset;
    }
    .logo{
        display: unset;
    }
    .logo .branch{
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .logo .branch img{
        margin: auto;
        display: block;
    }   
    .logo .search{
        width: 80%;
        margin: auto;
    }
    
    
    
}

@media all and (max-width: 480px) {
     main .intro{
        display: unset !important;
         text-align: center;
    }
     p{
        font-size: .8rem;
        text-align: justify;
        margin-right: 0; 
    }
    .intro p{
        margin-right: 0; 
    }
    .intro button.btn-danger{
        margin: auto !important;
    }
    .intro h5{
        margin-top: 1rem;
        text-align: center;
    }
    .intro .line{
        display: inline-block
    }
    footer .container {
        display: unset; 
    }
    footer .col-xs-6{
        max-width: unset;
    }
    .service .row{
        display: unset;
        margin: auto;
    }
    .service .col-xs-4{
        max-width: unset;
        display: block !important;
        margin-top: 1rem;
        padding: unset;
    }
    .service .col-xs-4 img{
        width: 100%;
    }
    .navbar {
        display: none !important;
    }
    
}








