*{margin: 0; padding: 0;}

body{
	height: auto;
	min-height: 100%
}

.menutren ul li {
    float: left;
    list-style: none;
    padding: 50px;
    color: wheat;
} 
.top{
	height: 700px;
	background-color: black;
}	

.mid{
	height: 700px;
	background-color: green;
}

.bot{
	height: 700px;
	background-color: blue;
}