footer{
    .subscribe{
        background-color: $page-xanh;
        padding: 2.5rem 0;
        .row{
            @media (min-width: 992px){
                display: flex;
                align-items: center;
            }
        }
        ._1sub{
            color: white;
            font-size: 17px;
            font-weight: bold;
            @media (min-width: 992px){
                display: flex;
                align-items: center;
            }
            i{
                font-size: 30px;
                margin-right: 1rem;
            }
        }
        ._2sub{
            .input-group{
                width: unset;
                border: none;
                float: none;
                input[type="text"]{
                    text-align: left;
                    padding: 20px 12px;
                    border: 1px solid transparent;
                    &:focus{
                        outline: none;
                        border: 1px solid transparent;
                    }
                }
            }
        }
        .social{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    a{
                        padding: 1rem;
                        color: white;
                        font-size: 18px;
                        &:hover,&:active,&:focus{
                            color: $page-color;
                        }
                    }
                }
            }
        }
        @media (min-width: 992px) and (max-width: 1300px){
            ._1sub{
                font-size: 14px;
            }
            .social{
                a{
                    padding: 0 5px !important;
                }
            }
        }
        @media (max-width: 991px){
            text-align: center;
            ._2sub{
                margin: 2rem 0;
            }
        }
    }
    .footer{
        padding-top: 5rem;
        .ourinfo{
            p{
                margin-top: 3rem;
            }
            ul{
                list-style: none;
                li{
                    position: relative;
                    i{
                        position: absolute;
                        left: 0;
                        top: 3px;
                    }
                    span{
                        margin-left: 2rem;
                        display: block;
                    }
                }
            }
        }
        ._1foot{
            h4{
                font-size: 17px;
                margin: 25px 0;
            }
            ul{
                list-style: none;
                li{
                    a{
                        @include a-usual;
                        color: black;
                    }
                }
            }
            img{
                margin-top: 3rem;
            }
        }
        .trademark{
            padding: 1.5rem 0;
            margin-top: 2rem;
            text-align: center;
            border-top: 1px solid $border-light;
            a{
                text-decoration: none;
                color: $page-color;
                font-weight: bold;
            }
        }
    }
    
}

.totop{
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 100;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.5s ease;
    i{
        font-size: 25px;
        border: 1px solid $page-xanh;
        padding: 1rem;
        color: $page-color;
        background-color: white;
    }
}
