.blog{
    padding: 5rem 0;
}
.sidenav{
    border: 1px solid $border-light;
    h4{
        margin: 0;
        padding: 1.5rem;
        background-color: $bg-color;
        font-size: 1.5rem;
        font-weight: bold;
    }
    ul{
        list-style: none;
        li{
            padding: 10px 15px;
            &.active{
                color: $page-color;
            }
            &.panel{
                margin: 0;
                border-radius: 0;
                box-shadow: none;
            }
            a{
                color: black;
                text-decoration: none;
                &:hover,&:focus,&:active {
                    color: $page-color;
                }
            }
            i{
                transition: all 0.5s ease;
                float: right;
                cursor: pointer;
                position: relative;
            }
            .fa-angle-down{
                &:after {
                    content: "\f106";
                    position: absolute;
                    top: 0;
                    right: 0;
                    visibility: hidden;
                    opacity: 0;
                }
            }
            ul{
                list-style: none;
                li{
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
        i[aria-expanded="true"]{
            &::before{
                display: none;
            }
            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.recentblog{
    border: 1px solid $border-light;
    margin: 3rem 0;
    h4{
        margin: 0;
        padding: 1.5rem;
        background-color: $bg-color;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .recentbloglist{
        padding: 2rem 0;
    }
    ._1reblog{
        display: inline-block;
        padding: 1rem;
        width: 100%;
        ._1reblogimg{
            float: left;
            margin-right: 1rem;
        }
        .reblogcont{
            display: block;
            a{
                @include a-usual;
                color: black;
                font-weight: bold;
            }
        }
    }
}
.ads{
    text-align: center;
    @media (max-width: 991px) {
        margin-bottom: 3rem;
    }
}
.bloglist{
    ._1blog{
        margin-bottom: 2rem;
        .bloginfo{
            background-color: $bg-color;
            padding: 1rem;
            .bloginfotop{
                display: flex;
                align-items: center;
            }
            .postday{
                display: inline-block;
                background-color: $page-color;
                border-radius: 5px;
                text-align: center;
                color: white;
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                h1{
                    margin-top: 0;
                    margin-bottom: 0.5rem;
                }
            }
        }
        .blogsummary{
            margin-left: 2rem;
            .blogtitle{
                @include a-usual;
                color: black;
                text-transform: uppercase;
                font-size: 1.8rem;
                font-weight: bold;
                margin: 0.5rem 0;
            }
            .author{
                margin: 0.5rem 0;
                ._1author{
                    margin-right: 2rem;
                    display: inline-block;
                    span{
                        margin-left: 0.5rem;
                    }
                }
            }
        }
        p{
            margin-left: 11rem;
        }
        @media (max-width: 768px) {
            .postday{
                h1{
                    font-size: 2rem;
                }
                span{
                    font-size: 1.2rem;
                }
            }
            .blogsummary{
                .blogtitle{
                    font-size: 1.4rem;
                }
            }
            p{
                margin-left: 0rem;
            }
        }
    }
}
.pagenav{
    display: block;
    text-align: center;
    .pagination{
        li{
            a{
                border: 1px solid transparent;
                border-radius: 5px;
                font-weight: bold;
                color: black;
                background-color: $bg-color;
                margin: 0 0.5rem;
                &:hover{
                    background-color: $page-color;
                    color: white;
                }
                &.active{
                    background-color: $page-color;
                    color: white;
                }
                i{
                    font-size: 20px;
                }
            }
        }
    }
}