.contactus{
    padding: 5rem 0;
    .bigmap{
        height: 500px;
        @media (max-width: 991px){
            height: 400px;
        }
    }
    .contactinfo{
        text-align: center;
        h1{
            font-size: 25px;
            margin: 3rem 0;
            font-weight: bold;
        }
        .cticon{
            i{
                font-size: 50px;
                color: $page-color;
                margin-bottom: 2rem;
            }
        }
    }
}