*{margin: 0;padding: 0;font-family: arial;}

#imenu {
    position: fixed;
    width: 3rem;
    left: 2rem;
    top: 1rem;
    display: none;
}
.collapsed i{
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.hotdetail {
    text-align: left;
    margin: 4rem 2rem;
}

.photline {
    width: 567px;
    height: 374px;
    background: #ddae78;
    position: relative;
    bottom: 0;
    left: 7px;
    max-width: 100%;
}

.paner {
    border-bottom: 1px solid #cd4d2a;
    margin: 1rem 0;
    text-align: center;
}

.panercn {
    width: 1005px;
    height: 284px;
    margin: auto;
    max-width: 100%;
}

.panerbot {
    width: 1015px;
    height: 181px;
    margin: auto;
    max-width: 100%;
}

.contact span {
    font-weight: normal;
}
.social a{
    color: white;
    text-decoration: none;
}

.zl img{
    width: 2rem;
    margin-top: -5px;
    margin-left: -5px;
}
li.tt {
    background: #00abe3;
}

li.g {
    background: firebrick;
}

li.fb {
    background: #004088;
}

.social li {
    /*background: #4ac6d6;*/
    text-align: center;
    border-radius: 50%;
    padding: 5px 9px;
    margin: 0.3rem;
    cursor: pointer;
    list-style: none;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: white;
}

.trademark {
    background: #cd4d2a;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    color: white;
}

.dieukhoan a{
    text-decoration: none;
}

.dieukhoan {
    border-bottom: 1px solid #cd4d2a;
    border-top: 1px solid #cd4d2a;
    padding: 1rem 0;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chinhanh {
    background: #CD4F29;
    width: 1186px;
    height: 122px;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tintuc img {
    width: 376px;
    height: 245px;
    max-width: 100%;
}

.tintuc .card.card-block {
    border: 1px solid #d4d4d4;
    border-radius: unset;
    padding: .8rem;
}

.tintuc h3 {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #CD4F29;
    margin-bottom: 1rem;
    font-weight: bold;
}

.product,.newproduct,.topselling{
    margin-bottom: 1rem;
}

.owl-dots{
    display: none;
}

.iimg img {
    border-bottom: 2px solid #E7E8EC;
    width: 260px;
    height: 198px;
    max-width: 100%;
}

.owl-nav button {
    font-size: 3rem !important;
    position: absolute;
    top: 7rem;
}

button.owl-prev {
    left: -5px;
}

button.owl-next {
    right: -5px;
}

.owl-carousel .item {
    border: 2px solid #E7E8EC;
}
.owl-carousel .item .iteninfo {
    padding: 1rem 1rem 0rem 1rem;
}
.owl-carousel .item h6{
    color: black;
    font-weight: bold;
}
.owl-carousel .item .giamgia{
    color: #FC0204;
    font-weight: bold;
}
.owl-carousel .item .btmua{
    background: #FE7525;
    color: white;
    display: table;
    margin: .5rem auto;
    padding: 3px 10px;
}


.tieude h5 {
    margin-bottom: 0;
    width: fit-content;
    background: #CD4D2A;
    padding: 5px 40px 5px 5px;
    color: white;
}

.tieude {
    border: 1px solid #E7E7E7;
}

.leftnav{
    border: 1px solid #E7E7E7;
    margin-bottom: 1rem;
    font-weight: bold;
}

.leftnav p {
    color: #7D8393;
}

i.fa.fa-arrow-circle-o-down {
    margin-right: 5px;
}

.all-product li {
    cursor: pointer;
}

.product-type {
    margin: 0 10px;
    font-size: 15px;
    font-weight: bold;
}

.product-type i {
    color: #CD4D2A;
    margin-right: 10px;
}

.danhmucsp h6 {
    color: #CD4D2A;
}

.list-product li {
    list-style: inside;
    text-indent: -1em;
    padding-left: 1em;
}

.left h5 {
    background: #CD4D2A;
    padding: 5px;
    color: white;
}

.content {
    margin: 2rem 0;
    display: flex;
}

.banner {
    max-width: 100%;
    overflow: hidden;
}

.carousel-control span {
    height: 50px !important;
    width: 50px !important;
    background: #ffffff;
    padding-top: 8px;
    border-radius: 5px;
    color: black;
    opacity: 1;
}

.carousel-item img {
    width: 100%;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li {
    list-style: none;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
}

.menu {
    background: #CD4D2A;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.search i {
    background: #D76B4F;
    border-radius: 3px;
    color: white;
    font-size: 1.5rem;
    height: 45px;
    line-height: 2;
    position: relative;
    top: 5px;
    right: 47px;
    padding: 0 11px;
}

.search input {
    height: 45px;
    width: 336px;
    border: 2px solid #D76B4F !important;
    border-radius: 5px;
    padding-left: 1rem;
}

.camket {
    width: 396px;
    height: 68px;
    background: #CD4D2A;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.logo img {
    width: 135px;
}

.support img {
    padding-left: 25%;
    margin-bottom: 1rem;
}

.cart {
    height: 1rem;
    position: absolute !important;
    display: flex;
    right: 6rem;
    top: 5px;
}

.cart ul {
    display: flex;
}

.cart li {
    list-style: none;
    padding: 0 .3rem;
}

.cart img {
    height: 1rem;
}

.container {
    padding: 0;
}
.wrap{
    padding: 0 5rem;
}

.contact {
    text-align: right;
    margin: 1rem 0;
    font-weight: bold;
    color: #93512b;
    font-size: .8rem;
    line-height: 2;
}

.tophead {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

.tophead.container {
    display: flex;
    padding: 1rem 0;
}
.totop img{
    position: fixed;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    right: 1rem;
    font-size: 3rem;
    color: #e2b3b3;
    z-index: 99999;
    cursor: pointer;
}

@media (max-width: 1024px) {

.wrap{
    padding: 0 3rem;
}
    
}

@media (max-width: 800px) {


}

@media (max-width: 768px) {


}

@media (max-width: 600px) {

#imenu {
    display: unset !important;
}
.menu ul{
    display: block !important;
}
.menu{
    position: fixed;
    top: 4rem;
    z-index: 20;
    transform: translateX(-100%);
    transition: all 1s;
    display: none;
}
.cart{
    justify-content: center;
    font-weight: bold;
    position: unset !important;
    margin-bottom: 1rem;
}
.danhmucsp h6{
    font-size: 1.4rem;
}
.search{
    height: 45px;
    margin: 1rem 0;
    text-align: center;
}
.search i{
    top: -45px;
    left: 9rem;
}
.tophead{
    display: block;
    margin: 2rem 0;
    text-align: center;
}

.col-sm-3,.col-sm-9{
    padding-left: 0;
    padding-right: 0;
}

.content{
    display: block;
}
.wrap{
    padding: 0 2rem;
}

.dieukhoan img {
    width: 5rem;
    padding: .5rem;
}

.dieukhoan a {
    font-size: 18px;
    font-weight: bold;
}

}

@media (max-width: 414px) {


}

@media (max-width: 375px) {
.dieukhoan img{
    width: 2rem;
}

}

.menu.toggled {
    transform: translateX(0%);
    display: block;
}

