.v2{
    header{
        .header{
            
            .logo{
                text-align: center;
            }
            .lognact{
                text-align: right;
                .login{
                    display: inline-block;
                    margin-right: 30px;
                    .accaction{
                        display: none;
                    }
                }
                .short{
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    @media (max-width: 1200px){
                        position: relative;
                        top: unset;
                    }
                    li{
                        display: inline-block;
                        a{
                            padding: 0;
                        }
                    }

                }
            }
        }
    }
    .ssdcont{
        background-image: url(../images/v2banner.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
._itemno{
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
}