._404{
    padding: 50px 0;
    .errannouce{
        max-width: 600px;
        padding: 0 15px;
        text-align: center;
        display: block;
        margin: auto;
        h4{
            font-weight: bold;
            margin: 20px 0;
        }
        p{
            span{
                color: $page-color;
            }
        }
        a{
            text-decoration: none;
            padding: 10px 15px;
            font-weight: bold;
            color: $text;
            background-color: $page-color;
            display: inline-block;
            margin-top: 15px;
            &:hover{
                color: white;
            }
            i{
                margin-right: 10px;
                font-size: 20px;
            }
        }
        .research{
            display: block;
            width: 80%;
            position: relative;
            margin: auto;
            input{
                width: 100%;
                border: 1px solid $border-light;
                padding: 10px;
            }
            i{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                font-size: 20px;
                border: 1px solid transparent;
                padding: 10px;
                background-color: $page-color;
            }
        }
    }
}