* {
 margin: 0;
 padding: 0;
}
.carousel img{
  width: 100%;
}
.carousel-indicators{
  display: none;
}
.wrap{
  margin-left: 2rem;
  margin-right: 2rem;
}
.bg-faded{
  background-color: initial;
}
.navbar{
  padding: 0;
  
}
n