.blogdetail{
    ._1blogdetail{
        margin-bottom: 2rem;
        .blogcontent{
            .blogcontenttop{
                display: flex;
                align-items: center;
            }
            .postday{
                display: inline-block;
                background-color: $page-color;
                border-radius: 5px;
                text-align: center;
                color: white;
                padding: 0.5rem 1rem;
                margin: 1rem 0;
                h1{
                    margin-top: 0;
                    margin-bottom: 0.5rem;
                }
            }
        }
        .blogsummary{
            margin-left: 2rem;
            .blogtitle{
                color: $text;
                text-transform: uppercase;
                font-size: 1.8rem;
                font-weight: bold;
                margin: 0.5rem 0;
            }
            .author{
                margin: 0.5rem 0;
                ._1author{
                    margin-right: 2rem;
                    display: inline-block;
                    span{
                        margin-left: 0.5rem;
                    }
                }
            }
        }
        p{
            margin-left: 11rem;
        }
        @media (max-width: 768px) {
            .postday{
                h1{
                    font-size: 2rem;
                }
                span{
                    font-size: 1.2rem;
                }
            }
            .blogsummary{
                .blogtitle{
                    font-size: 1.4rem;
                }
            }
            p{
                margin-left: 0rem;
            }
        }
    }
}
.tagnshare{
    border-top: 1px solid $border-line;
    border-bottom: 1px solid $border-line;
    padding: 1.5rem 0;
    display: table;
    width: 100%;
    .tag{
        display: table-cell;
        vertical-align: middle;
        i{
            color: #999999;
        }
        a{
            text-decoration: none;
            color: $text;
            background-color: #f3f3f3;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            margin: 0 1rem;
            &:hover{
                background-color: $page-color;
                color: white;
            }
        }
    }
    @media (max-width: 767px){
        display: block;
        .tag{
            a{
                font-size: 1.2rem;
                margin: 0 0.5rem;
            }
        }
        .share{
            justify-content: flex-start;
            margin-top: 2rem;
        }
    }
}
.share{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .sharePopup{
        display: inline-block;
        margin-left: 2rem;
    }
    .jssocials-shares{
        .jssocials-share{
            border-radius: 5px;
            a{
                text-decoration: none;
                color: white;
                padding: 5px 7px;
            }
        }
        .jssocials-share-twitter{
            background-color: $cltt;
        }
        .jssocials-share-facebook{
            background-color: $clfb;
        }
        .jssocials-share-pinterest{
            background-color: $clpt;
        }
        .jssocials-share-googleplus{
            background-color: $clgp;
        }
    }
    
}
.comment{
    margin: 3rem 0;
    .commentlist{
        b{
            font-size: 1.7rem;
            margin-bottom: 2rem;
            display: block;
        }
        ._1comt{
            ._1comtdetail{
                margin-bottom: 15px;
                display: inline-block;
                &.rep{
                    margin-left: 5rem;
                }
            }
            img{
                width: 70px;
                margin-right: 10px;
            }
            @media (max-width: 767px) {
                .uava{
                    img{
                        width: 40px;
                    }
                }
            }
            .uava{
                float: left;
            }
            ._1comtinfo{
                position: relative;
                margin-left: 70px;
                @media (max-width: 767px){
                    margin-left: 45px;
                }
                p{
                    font-size: 14px;
                }
                .btrep{
                        position: absolute;
                    display: inline-block;
                    color: $text-author;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    .fa-share{
                        transform: scaleX(-1);
                    }
                }
            }
            
        }
        .repinput{
            @media (min-width: 992px){
                margin-left: 5rem;
            }
            textarea{
                width: 100%;
                border: none;
                background-color: $bg-color;
                border-radius: 10px;
                padding: 10px;
            }
            button{
                padding: 0.5rem 1.5rem;
                border-radius: 20px;
                margin: 1rem 0;
            }
        }
    }
    .newcomment{
        textarea{
            width: 100%;
            border: none;
            background-color: $bg-color;
            border-radius: 10px;
            padding: 10px;
            margin: 2rem 0;
        }
        button{
            &:hover{
                background-color: $page-color;
            }
        }
    }
}
.relatenews{
    h4{
        font-weight: bold;
        margin: 2rem 0;
    }
    a{
        text-decoration: none;
    }
}