.ordersuccess{
    padding: 5rem 0;
    @media (max-width: 991px) {
        padding: 2rem 0;
    }
    .successann{
       border: 1px solid $border-light;
       padding: 3rem;
        .fa-check{
            padding: 0.5rem;
            background-color: green;
            font-size: 2rem;
            color: white;
            border-radius: 50%;
            margin-right: .5rem;
        }
        ._1ann{
            border-bottom: 1px solid $border-light;
        }
        ._2ann{
            margin: 2rem 0;
            ul{
                margin: 1rem 0;
                list-style: none;
                li{
                    margin: 1rem 0;
                    span.username{
                        font-weight: bold;
                    }
                }
            }
        }
        p{
            margin: 1rem 0;
        }
        .orderdetail{
            @media (max-width: 768px) {
                overflow-x: scroll;
            }
            table{
                width: 100%;
                thead{
                    background-color: $bg-color;
                }
                th,td{
                    text-align: center;
                    padding: 1rem 0.5rem;
                    border: 1px solid $border-light;
                }
                tr{
                    &.ordermoney{
                        background-color: $bg-color;
                        td{
                            text-align: right;
                            span.dcount{
                                font-weight: bold;
                            }
                        }
                    }
                    &.totalmoney{
                        td{
                            font-weight: bold;
                        }
                    }
                    &.totalpay{
                        font-weight: bold;
                        td{
                            span.totalpaynum{
                                color: $page-color;
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    a{
        &.shopmore{
            border: 1px solid $page-color;
            background-color: white;
            color: $text;
            border-radius: 20px;
            display: inline-block;
            margin-top: 2rem;
            &:hover{
                background-color: $page-color;
                color: white;
            }
        }
    }
}