*{margin: 0; padding: 0;}

.backtotop {
    POSITION: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #ffffff9e;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
body{
    height: auto;
    min-height: 100%;
}

h2.chuto {
    color: white;
    font-family: tahoma;
    font-size: 100px;
    margin-left: 14%;
    padding-top: 450px;
}

.chapter1,.chapter2,.chapter3,.chapter4 {
    height: 700px;
    background-image: url(images/chap1.jpg);
    background-size: cover;
}

.chapter4 {
    background-image: url(images/chap4.jpg);
}

.chapter3 {
    background-image: url(images/chap3.jpg);
}

.chapter2 {
    background-image: url(images/chap2.jpg);
}

.noidung1,.noidung2,.noidung3,.noidung4 {
    height: 600px;
    padding: 50px 0px;
    text-align: center;
    color: gray;
}

.home {
    width: 100%;
    height: 800px;
    background-image: url(images/1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.menutren ul {
    margin-left: 12%;
}

.menutren a {
    text-decoration: none;
    display: block;
    padding: 16px 18px;
    color: black;
    font-family: tahoma;
    font-weight: bold;
}

nav.menutren {
    width: 100%;
    height: 50px;
    background: whitesmoke;
    margin: auto;
    position: fixed;
    margin-top: 0;
}

.menutren ul li {float: left;list-style: none;}
