.mailforpromo{
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $border;
    span{
        margin-right: 10px;
        font-size: 16px;
        font-weight: bold;
        @media (max-width: 767px) {
            margin-right: 0px;
            display: inherit;
            margin-bottom: 15px;
        }
    }
    input{
        border: 1px solid $border;
        width: 280px;
        padding: 10px;
        @media (max-width: 767px) {
            padding: 10px 20px;
            margin-bottom: 10px;
            width: 100%;
        }
    }
    button{
        background-color: $page-color;
        border: none;
        padding: 10px;
        color: white;
        @media (max-width: 480px) {
            padding: 10px 20px;
        }
    }
}
.withbg{
    background-color: $bg-color;
    ._1p{
        background-color: white;
    }
}
.privacy{
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    .col-sm-4{
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    ._1p{
        height: 150px;
        border: 1px solid $page-color;
        text-align: center;
        img{
            margin: 20px 0;
            height: 45%;
            @media (max-width: 480px) {
                height: 35%;
            }
        }
        p{
            font-size: 18px;
            font-weight: bold;
        }
    }
}
.bottom{
    background-image: url("../images/banner4.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    color: white;
    position: relative;
    @media (max-width: 480px) {
        padding-top: 10px;
    }
    
    .bleft{
        .info{
            margin: 30px 0px;
            i{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                text-align: center;
                padding-top: 5px;
                margin: 5px 20px 5px 0px;
                font-size: 10px;
            }
            .fa-map-marker{
                background-color: #c94a77;
            }
            .fa-phone{
                background-color: #51c660;
            }
            .fa-envelope{
                background-color: #db4639;
            }
        }
        .social{
            list-style: none;
            padding-left: 0;
            display: flex;
            justify-content: flex-start;
            li{
                a{
                    width: 30px;
                    height: 30px;
                    color: white;
                    text-align: center;
                    padding-top: 8px;
                    margin-right: 15px;
                    text-decoration: none;
                    &:hover,&:focus,&:active {
                        transform: scale(1.1);
                    }
                }
                .fa-facebook{
                    background-color: #3b5998;
                }
                .fa-twitter{
                    background-color: #28aae1;
                }
                .fa-google-plus{
                    background-color: #dd4b38;
                }
                .fa-youtube{
                    background-color: #dc2925;
                }
                .fa-instagram{
                    background-color: #5d4942;
                }
            }
        }
    }
    .bmid{
        .midtop{
            display: flex;
            justify-content: flex-start;
            ul{
                list-style: none;
                padding-left: 0;
                width: 50%;
                margin-bottom: 30px;
                li{
                    a{
                        color: white;
                        text-decoration: none;
                        &:hover,&:focus,&:active {
                            color: $page-color;
                        }
                    }
                }
            }
        }
    }
    .bright{
        height: 270px;
        @media (max-width: 768px){
            margin-top: 15px;
        }
    }
        
.coppyright{
    border-top: 1px solid #999694;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
    opacity: 0.8;
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}
}
.totop{
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    transform: translateY(100%);
    cursor: pointer;
    i{
        font-size: 25px;
        border: 1px solid $page-color;
        border-radius: 50%;
        padding: 15px;
        color: $page-color;
        background-color: white;
    }
}
